@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Who Wants To Be A Millionaire?</h1>
    <p>This is simple game where you answer 14 questions and win money!</p>
    <p>Click button below!</p>
    <a asp-controller="Game" asp-action="">
        <button class="btn btn-primary">Play</button>
    </a>
</div>
